/*index.html*/
/*h1{
    color:blue;
   font-size: 64px;
}
p{
    color:violet;
    font-size: 64px;
}*/

/*example.html*/
body{
    background-color:coral;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: red;
    font-size: 74;
    text-transform: uppercase;

}
p{
    font-size: 40px;
}
ul{
    color: blue;
}